rasterio
numpy
tqdm
pandas
matplotlib
scikit-learn
seaborn
geopandas
shapely
scikit-image
urllib3
utm
imagecodecs
umap-learn
torch
torchvision
torchaudio
segmentation-models-pytorch
pytorch-lightning
wandb
datargs
shapely
geetools
earthengine-api
utm